.productItem {
    width: calc((100% / 4) - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.productItem__name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.productItem__price {
    color: #a73afd;
    font-size: 20px;
    font-weight: 700;
}

.productItpm__desc {
    font-size: 20px;
    padding: 10px 0;
}

.productItem__star {
    width: 15px;
    margin-right: 10px;
}

.productItem__grade {
    padding: 10px 20px;
    text-align: right;
}

.productItem__btn {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #a73afd;
    border-style: none;
}

.productItem__btnCount {
    border: 1px solid #a73afd;
    border-radius: 10px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
}

.productItem__btn-add {
    padding: 5px 10px;
} 

.productItem__btn-delete {
    padding: 5px 13px;
} 

.productItem__count {
    padding: 0 60px;
    text-align: center;
}

